[Unit]
Description=bolt card service
After=network.target network-online.target
Requires=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=ubuntu

# postgres database connection settings
Environment="DB_HOST=localhost"
Environment="DB_PORT=5432"
Environment="DB_USER=cardapp"
Environment="DB_PASSWORD=database_password"
Environment="DB_NAME=card_db"

# shared secret for the internal API, e.g. `openssl rand -hex 32`
# this may be set in the settings table instead
Environment="INTERNAL_API_KEY="

ExecStart=/bin/bash /home/ubuntu/boltcard/script/s_launch

[Install]
WantedBy=multi-user.target
